.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.active {
  border-bottom: 1px solid;
}

html,
.login {
  height: 100%;
}

.login {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn-create {
  position: absolute;
  border-radius: 50%;
  bottom: 40px;
  right: 30px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.form-inscription {
  position: relative;
  display: block;
}

.classes-card {
  width: 100%;
  height: 150px;
}

.classes-footer {
  width: 100%;
  height: 40px;
  margin-top: -40px;
  background-color: rgba(0, 0, 0, 0.25);
}

.classes-card-text {
  color: #fff;
  width: 100%;
}